  <section class="ftco-section ftco-no-pb" id="resume-section">
  <div class="container">

    <!-- Experience Section -->
<div class="row">
  <h1 class="big-4 text-yellow">Experience</h1>
  <div class="underline"></div>
</div> 

<br>

 <div class="row experience-container">
  <div *ngFor="let exp of experience" class="experience-item">
    <span class="date">{{ exp.year }}</span>
    <h2 class="title">{{ exp.title }}</h2>
    <span class="position">{{ exp.company }}</span>
    <ul>
      <li *ngFor="let item of exp.points">{{ item }}</li>
    </ul>
  </div>
</div> 


    <br><br>

    <!-- Education Section -->
     <div class="row">
      <h1 class="big-4">Education</h1>
      <div class="underline"></div>
    </div>
    <br>

    <div class="row">
      <div class="col-md-6" *ngFor="let edu of education">
        <div class="resume-wrap">
          <span class="date">{{ edu.year }}</span>
          <h2>{{ edu.degree }}</h2>
          <span class="position">{{ edu.institute }}</span>
          <p class="mt-4">{{ edu.grade }}</p>
        </div>
      </div>
    </div> 

    <!-- Download Button -->
   <div class="row justify-content-center mt-5">
      <div class="col-md-6 text-center">
        <p><a class="btn btn-primary py-4 px-5" (click)="downloadCV()">Download CV</a></p>
      </div>
    </div> 

  </div>
</section>