<section class="ftco-section ftco-no-pb" id="resume-section">
  <div class="container">

    <!-- Resume Heading -->
    <div class="row justify-content-center pb-5">
      <div class="col-md-10 heading-section text-center">
        <h1 class="big big-2">Resume</h1>
        <h2 class="mb-4">Resume</h2>
        <p>
          I’m a Frontend Developer with 3+ years of experience specializing in Angular. I build modern,
          responsive, and high-performance web applications with a strong focus on clean UI and 
          user-centric design. I also have hands-on expertise in real-time dashboards, REST API 
          integration, WebSockets, state management (RxJS), and AI-assisted features. I enjoy 
          crafting seamless digital experiences that boost productivity and solve real business 
          challenges.
        </p>
      </div>
    </div>



