html{
    /* font-size: 62.5%; */
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}


:root {
  --navbar-height: 80px; /* adjust if needed */
}

section {
  scroll-margin-top: var(--navbar-height);
}
