.hero,
.slider-item,
.js-fullheight {
  height: 100vh !important;
  min-height: 600px;
  position: relative;
}
.one-third.img {
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
}
.no-wrap {
  white-space: nowrap;
}
@media (max-width: 768px) {
  .no-wrap {
    white-space: normal;
    word-break: break-word;
    text-align: center;
  }
}

