<section id="home-section" class="hero">
  <div class="home-slider owl-carousel">
    <div class="slider-item">

      <div class="container">
        <div class="row d-md-flex no-gutters slider-text align-items-end justify-content-end">

          <!-- Right BG Image
          <div class="one-third js-fullheight order-md-last img"
               style="background-image:url('assets/template/images/bg_1.png');">
            <div class="overlay"></div>
          </div> -->

          <!-- Left Text Section -->
          <div class="one-forth d-flex align-items-center ">
            <div class="text">
              <span class="subheading">Hello!</span>

              <h1 class="mb-4 mt-3 no-wrap">I'm Rohini Gaikwad</h1>
              <h2>Frontend Developer</h2>


              <div class="row mt-4">
                <a href="https://www.linkedin.com/in/rohini-gaikwad7057/" class="btn btn-primary py-3 px-4 me-3"
                  target="_blank">
                  <i class="fab fa-linkedin me-2 mr-3"></i> LinkedIn
                </a>
                <a href="#project-section" class="btn btn-white btn-outline-white py-3 px-4 ml-3">My Works</a>
              </div>
              <div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<section id="home-section"><app-header></app-header></section>
<section id="about-section"><app-about></app-about></section>
<section id="skills-section"><app-skills></app-skills></section>
<section id="resume-section"><app-experience></app-experience></section>
<section id="project-section"><app-projects></app-projects></section>
<app-ai-chat id="ai-section"></app-ai-chat>
<section id="contact-section"><app-contact></app-contact></section>